Colors font
.yellow-cl{
    color: yellow;
}
.orange-cl{
    color :#ffc107;
}
.blank-cl{
    color: #212529;
}
.white-cl{
    color: #fff;
}
/* background font */
.yellow-bg{
    background-color: yellow;
}
.orange-bg{
    background-color :#ffc107;
}
.blank-bg{
    background-color: #212529;
}


/* card products */
.description{
    font-weight: 500;
    font-size: 16px;
}

.card{
    width: 12rem;
    height: 3.1in;
    border: solid black 2px;
    border-radius: 5px;
}

.card-text,.card-title{
    margin: 0;
    text-align: center;
}

.card-img-top{
    height: 140px;
}

a.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
